# Ignorer les fichiers sensibles
.env
.env.local

# Ignorer les logs
*.log

# Ignorer les dépendances
/vendor
/latex
nbproject
# Ignore mdp
mdpstatic

# Ignore Doxygen
Doxyfile

# Ignorer zone de test
text.txt
test.php
